
<section id="lab_social_icon_footer">
        
        <div class="container">
                <div class="text-center center-block">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>

        <div class="footer-links">
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT </a>
            <a href="/terms-of-service">TERMS OF SERVICE</a>
            <a href="/privacy-policy">PRIVACY POLICY</a>
        </div>

        <div class="copyright">
                <p>©2019 Our Construction Company, Inc. All Rights Reserved</p>
        </div>
</section>

</body>
<script src="javascripts/navbar.js"></script>
<script src="javascripts/image.js"></script>
</html>
