<!DOCTYPE html>
<html>
  <head>
    <title>Construction </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel='stylesheet' href='/stylesheets/contact.css' />
    <link rel='stylesheet' href='/stylesheets/privacy.css' />
    <link rel='stylesheet' href='/stylesheets/maintenance.css' />
    <link rel='stylesheet' href='/stylesheets/termsOfService.css' />
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat:200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
         <nav>
            <div class="menu-icon">
               <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
              <a id="homepage" href="#">CONSTRUCTION</a>
            </div>
            <div class="menu">
               <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><a href="/contact">CONTACT</a></li>
               </ul>
            </div>
         </nav>
      </header>
   </div>
     
