<%- include partials/header %>

<div class="content">
    <div class="row">
       <div class="col-sm-12">
          <div class="intro">
               <div class="inside-intro">
                  <div>
                      <h2>
                          Our Story
                      </h2>
                      
                      <p>
                            Harper Construction Company is a General Contractor that was founded in 1974 by its Chairman, Ron Harper. Current Owner and President, Jeff Harper, continues the construction family tradition while maintaining its outstanding reputation with an uncompromising commitment to quality and safety. With a strong reputation as an industry leader in Design-Build construction, Harper Construction provides excellence in a full spectrum of pre-construction, program management, design development, construction, interior design management, inspection, and quality control services.
                      </p>
                      <br>
                      <img id="about-img" src="https://images.squarespace-cdn.com/content/v1/59011f5d5016e1a53768b5dc/1500917901058-49KZKH4QWTK5KYSKIRPS/ke17ZwdGBToddI8pDm48kNeuZeoXUAxIDJZnwJZeFIZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mhydAgiKdIfeAoxVgE7c7q3eeLOetEFAyUJ0GsXCFW-IeOHrWcAvr2kC-WVwPP5SA/image-asset.jpeg?format=500w" alt="">
                      <br> 
                      <p>
                            The Company has retained an enduring core of executive management, senior managers, and value-driven professionals for over four decades. Over thirty (30) employees have worked at the company for over 10 years and nearly half of the 100+ employees have worked at Harper Construction for more than five years. This type of mutual commitment is virtually unparalleled in the industry.
                       </p>
 
                        <p>
                                Harper Construction continues to deliver the best value in building services by placing experienced construction professionals on every project undertaken.
                        </p>

                  </div>
               </div>
          </div>
       </div>
    </div>
 </div>
<div> 
 <div class="container-fluid "> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
    <h2 class="text-center m-5">Leadership</h2>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <figure class="container-fluid">
                <img class="img-thumbnail" src="https://images.squarespace-cdn.com/content/v1/59011f5d5016e1a53768b5dc/1494013648924-ZT7KY12DFDGIYXO79DGO/ke17ZwdGBToddI8pDm48kI2f7BfnuLBoqe8LDS4NTkV7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uc5m5bGZV1ELelBXULdt9wBgDAOM3IkybMsguxwpsazEhkNt8GyT_TyPg6j8ik9Tkw/default_avatar.png.jpeg?format=500w" alt="leader-1">
            </figure>
            <h3 class="text-capitalize text-left">Jeff Harper</h3>
            <h4 class="font-italic text-left">Owner/CEO/President</h4>
            <p>Since purchasing the company in 2005, current Owner and President Jeff Harper, continues the construction family tradition while maintaining the company’s outstanding reputation and uncompromising commitment to quality and safety. Jeff Harper has provided leadership and overall management control as the head of the Harper Team and has been responsible for projects in the both private and public sectors. Jeff is involved in every Harper project and maintains a hands-on involvement and responsibility for all construction operations through project completion. He has 32 years experience with Harper Construction and specializes in design-build projects. The firm’s resume of project and industry awards, outstanding performance evaluations, and list of satisfied customers reflects his longstanding commitment to total customer satisfaction.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
                <figure class="container-fluid">
 
            <img class="img-thumbnail" src="https://images.squarespace-cdn.com/content/v1/59011f5d5016e1a53768b5dc/1494013852582-YODPMKDR83C4ERLXY7OI/ke17ZwdGBToddI8pDm48kI2f7BfnuLBoqe8LDS4NTkV7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uc5m5bGZV1ELelBXULdt9wBgDAOM3IkybMsguxwpsazEhkNt8GyT_TyPg6j8ik9Tkw/default_avatar.png.jpeg?format=500w" alt="leader2">
        </figure>
            <h3 class="text-capitalize text-left">Ron Harper </h3>
            <h4 class="font-italic text-left">Founder/Chairman</h4>    
            <p>Mr. Harper is the Founder and current Chairman of  Harper Construction Company. He founded the firm  in 1974 with a mission to better serve his clients and  the construction industry as a whole through the  endorsement and implementation of an integrated  design-build construction delivery approach. From the  outset, he concentrated the efforts of the organization  toward design-build markets, and in the process  established Harper Construction as one of the earliest  firms to be recognized as a true design-builder and a current respected leader in those markets. </p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
                <figure class="container-fluid">
 
            <img class="img-thumbnail" src="https://images.squarespace-cdn.com/content/v1/59011f5d5016e1a53768b5dc/1494013903211-C5LC17GQL8YMTJ4ZGT01/ke17ZwdGBToddI8pDm48kI2f7BfnuLBoqe8LDS4NTkV7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uc5m5bGZV1ELelBXULdt9wBgDAOM3IkybMsguxwpsazEhkNt8GyT_TyPg6j8ik9Tkw/default_avatar.png.jpeg?format=500w" alt="leader3">
        </figure>
            <h3 class="text-capitalize text-left">Stephen Marble</h3>
            <h4 class="font-italic text-left">Executive Vice President</h4>   
            <p>Mr. Marble’s involvement in the construction industry spans over 42 years in a variety of management and executive roles. As Executive Vice President of Harper Construction Company, Mr. Marble’s responsibilities include business development, management and administration of all commercial projects. He previously served as President of Nielsen Dillingham Builders since its inception in 1994, and was President of its preceding company, Nielsen Construction Company, since 1987.  In his career, Mr. Marble has held ultimate responsibility and accountability for the successful completion of more than $6 billion in contract awards.</p>
        </div>
    </div>
</div>
</div>

<div class="content">
        <div class="row">
           <div class="col-sm-12">
              <div class="intro">
                   <div class="inside-intro">
                      <div>
                          <h2>
                                Our Valued Clients
                          </h2>
                          <p>Harper has always embraced our clients and partners as part of Our Team.  Every project is performed with open communication.  The Partnering methodology is implemented and a mutual respect with our clients provides the groundwork for our success.</p>
                      </div>
                   </div>
              </div>
           </div>
        </div>
     </div>

<%- include partials/footer %>