<%- include partials/header %>
<h2 id="title-home">
   Building Together
</h2>

      <div class="content">
         <div class="row">
            <div class="col-sm-12">
               <div class="intro">
                    <div class="inside-intro">
                       <div>
                           <h2>
                                 Our Construction Company, 
                                 has a proud tradition of service as
                                  a General Contractor since 1950
                           </h2>
                           
                           <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           <br>
                  
                           <a href="/about">Read our story.</a>
                           <br>
                           <br>
                           <p>
                           
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                       </div>
                    </div>
               </div>
            </div>
         </div>
      </div>


   <%- include partials/home-image %>
   <div class="content">
         <div class="row">
            <div class="col-sm-12">
               <div class="intro">
                    <div class="inside-intro">
                       <div>
                           <h2>
                                 We Take Pride In The Projects We've Done
                           </h2>
                           <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           <br>
                           <a href="/projects">See Our Latest Projects</a>

                       </div>
                  </div>
               </div>
            </div>
         </div>
   </div>

   <div class="content">
         <div class="row">
            <div class="col-sm-12">
               <div class="intro">
                    <div class="inside-intro">
                       <div>
                  <h2>
                        Contact Us
                  </h2>
                  <p>
                        We’d love to discuss your upcoming project!
                  </p>
                  <br>
                  <a href="/projects">GET IN TOUCH</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <%- include partials/footer %>