.content {
    padding:0px 100px;
}

h2 {
  font-family: 'Dosis', sans-serif !important;
  font-size: 54px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
}

img {
  z-index: -2;
  position: relative;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.intro {
    float: left;
    display: block;
    width: 100%;
}

.inside-intro {
    box-sizing: border-box;
    width: 49.99%;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .inside-intro {
        margin: 0;
        width: 100%;
    }
    .content {
        padding: 0;
    }
  }


  /*for image */
  #photos {
    /* Prevent vertical gaps */
    line-height: 0;
    
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
 }
 
 #photos img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
 }
 
 @media (max-width: 1200px) {
   #photos {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
 }
 @media (max-width: 1000px) {
   #photos {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
 }
 @media (max-width: 800px) {
   #photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 400px) {
   #photos {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }
 }


  /*footer*/
  #lab_social_icon_footer {
    padding: 40px 0;
    background-color: #dedede;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }

.footer-links {
  margin: 15px auto;
  text-align: center;
}

.footer-links a {
  padding: 0 10px;
}

.copyright {
  margin: 20px auto;
  text-align: center;
}

#title-home {
  position: absolute;
  top: 40%;
  left: 30%;
  background-color: aliceblue;
  padding: 10px 50px;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  #title-home {
      position: absolute;
      top: 45%;
      left: 15%;
      background-color: aliceblue;
      padding: 5px 10px;
      width: 70%;
  }
}