#title {
    position: absolute;
    top: 40%;
    left: 38%;
    background-color: aliceblue;
    padding: 10px 50px;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    #title {
        position: absolute;
        top: 45%;
        left: 23%;
        background-color: aliceblue;
        padding: 5px 25px;
    }
  }